{% extends "admin/admin_base.html" %}

{% block page_title %}Manage Providers{% endblock %}

{% block content %}

<form method="GET">
    <div class="filter-bar">
        <input type="text" name="search"
               placeholder="Search provider..."
               value="{{ request.args.get('search','') }}">

        <div class="filter-actions">
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="{{ request.path }}" class="btn btn-danger">Clear All</a>
        </div>
    </div>
</form>
{% if providers %}
<table class="admin-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        {% for p in providers %}
        <tr>
            <td>{{ p.user_id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.email or "Not Provided" }}</td>

            <td>
                {% if p.status == "blocked" %}
                    <span class="status-badge status-blocked">Blocked</span>
                {% else %}
                    <span class="status-badge status-active">Active</span>
                {% endif %}
            </td>

            <td class="action-buttons">
               <a href="javascript:void(0);"
                 onclick="customConfirm('/admin-toggle-provider/{{p.user_id}}','Are You Sure ?')">
                    {% if p.status == "blocked" %}
                        <button class="btn btn-success">Unblock</button>
                    {% else %}
                        <button class="btn btn-warning">Block</button>
                    {% endif %}
                </a>

                <a href="javascript:void(0);"
                 onclick="customConfirm('/admin-delete-provider/{{p.user_id}}','Delete This Provider?')">
                    <button class="btn btn-danger">Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination-container">
    <div class="pagination-left">
        {% if page > 1 %}
        <a href="?page={{page-1}}&search={{ request.args.get('search','') }}" class="page-link">Prev</a>
        {% endif %}
    </div>

    <div class="pagination-center">
        {% for p in range(1,total_pages+1) %}
        <a href="?page={{p}}&search={{ request.args.get('search','') }}"
           class="page-link {% if p==page %}active{% endif %}">
           {{p}}
        </a>
        {% endfor %}
    </div>

    <div class="pagination-right">
        {% if page < total_pages %}
        <a href="?page={{page+1}}&search={{ request.args.get('search','') }}" class="page-link">Next</a>
        {% endif %}
    </div>
</div>

{% else %}
    <div class="admin-empty-state">
        <i class="fa-solid fa-user-slash"></i>
        <h3>No Providers Found</h3>
        <p>We couldn't find any providers matching your search.</p>
    </div>
{% endif %}

<div class="dashboard-btn">
<a href="{{ url_for('admin_dashboard') }}" class="btn btn-primary">
← Back to Dashboard
</a>
</div>

{% endblock %}