{% extends "admin/admin_base.html" %}

{% block title %}Admin Dashboard{% endblock %}
{% block page_title %}Dashboard Overview{% endblock %}

{% block content %}

<div class="stats-grid">

    <div class="stat-box">
        <h4>Total Users</h4>
       <p class="counter" data-target="{{ total_users }}">0</p>
    </div>

    <div class="stat-box">
        <h4>Total Providers</h4>
        <p class="counter" data-target="{{ total_providers }}">0</p>
    </div>

    <div class="stat-box">
        <h4>Total Bookings</h4>
        <p class="counter" data-target="{{ total_bookings }}">0</p>
    </div>

    <div class="stat-box">
        <h4>Total Revenue</h4>
        <p class="counter" data-target="{{ total_revenue }}">0</p>
    </div>

</div>

{% endblock %}