{% extends "admin/admin_base.html" %}

{% block page_title %}Change Password{% endblock %}

{% block content %}

<div class="center-wrapper">

    <div class="password-card">

        <h2 class="card-title">Change Password</h2>

        {% if message %}
            <p class="success-msg">{{ message }}</p>
        {% endif %}

        {% if error %}
            <p class="error-msg">{{ error }}</p>
        {% endif %}

        <form method="POST">

            <div class="password-field">
                <input type="password"
                       id="old_password"
                       name="old_password"
                       placeholder="Old Password"
                       required>
                <span onclick="togglePassword('old_password')">👁</span>
            </div>

            <div class="password-field">
                <input type="password"
                       id="new_password"
                       name="new_password"
                       placeholder="New Password"
                       required>
                <span onclick="togglePassword('new_password')">👁</span>
            </div>

            <button type="submit" class="btn btn-success btn-full">
                Update Password
            </button>

        </form>

        <div class="dashboard-btn">
         <a href="{{ url_for('admin_dashboard') }}" class="btn btn-primary">
        ← Back to Dashboard
        </a>
        </div>

    </div>

</div>

<script>
function togglePassword(id) {
    var field = document.getElementById(id);
    field.type = field.type === "password" ? "text" : "password";
}
</script>

{% endblock %}