<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/core.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>

<body class="admin-login-body">

<div class="admin-login-wrapper">

    <div class="admin-login-card">

        <h2 class="login-title">Admin Panel</h2>
        <p class="login-sub">Secure Access</p>

        {% if error %}
            <div class="login-error">{{ error }}</div>
        {% endif %}

        <form method="POST">

            <div class="input-group">
                <input type="email"
                       name="email"
                       placeholder="Admin Email"
                       required>
            </div>

            <div class="password-field">
                <input type="password"
                       name="password"
                       id="password"
                       placeholder="Password"
                       required>
                <i class="fa-solid fa-lock toggle-icon" onclick="togglePassword('password',this)"></i>
            </div>

            <button type="submit" class="btn btn-primary btn-full">
                Login
            </button>

        </form>

    </div>

</div>

</body>
</html>
