{% extends "admin/admin_base.html" %}

{% block page_title %}Change Password{% endblock %}

{% block content %}

<div class="center-wrapper">

    <div class="password-card">

        <h2 class="card-title">Change Password</h2>

        {% if message %}
            <p class="success-msg">{{ message }}</p>
        {% endif %}

        {% if error %}
            <p class="error-msg">{{ error }}</p>
        {% endif %}

        <form method="POST">

            <div class="password-field">
                <input type="password"
                       id="old_password"
                       name="old_password"
                       placeholder="Old Password"
                       required>
              <i class="fa-solid fa-lock toggle-icon" onclick="togglePassword('old_password',this)"></i>
            </div>

            <div class="password-field">
                <input type="password"
                       id="new_password"
                       name="new_password"
                       placeholder="New Password"
                       required>
               <i class="fa-solid fa-lock toggle-icon" onclick="togglePassword('new_password',this)"></i>
            </div>

            <button type="submit" class="btn btn-success btn-full">
                Update Password
            </button>

        </form>

        <div class="dashboard-btn">
         <a href="{{ url_for('admin_dashboard') }}" class="btn btn-primary">
        ← Back to Dashboard
        </a>
        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}