{% extends "admin/admin_base.html" %}
{% block content %}

<h2>Change Password</h2>

{% if message %}
<p style="color:green">{{ message }}</p>
{% endif %}

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}

<div class="card">
<form method="POST">
    <input type="password" name="old_password" placeholder="Old Password" required><br><br>
    <input type="password" name="new_password" placeholder="New Password" required><br><br>
    <button class="btn btn-success">Update Password</button>
</form>
</div>

{% endblock %}

<div style="margin-bottom:15px;">
    <a href="javascript:history.back()" class="btn btn-primary">← Back</a>
</div>
