
<h2>All Skills</h2>

<!-- Category Filter -->
<a href="/all-skills">All</a> |
<a href="/all-skills?category=Electrical">Electrical</a> |
<a href="/all-skills?category=Teaching">Teaching</a> |
<a href="/all-skills?category=Repair">Repair</a>

<hr>

{% for s in skills %}

<p>
<b>{{ s.skill_name }}</b> ({{ s.category }}) <br>
Provider: {{ s.provider_name }} <br>
{{ s.description }}
</p>

{% if session['role'] == 'user' %}

   
        <form method="POST" action="/book/{{ s.skill_id }}">
            <button type="submit">Book Now</button>
        </form>

{% endif %}

<hr>

{% endfor %}



