<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/change.css') }}">
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

</head>

<body>

<div class="content">

<div class="card" style="max-width:450px;margin:auto;margin-top:40px;">

<h2 style="text-align:center;">
{% if session.get("user_id") %}
Change Password
{% else %}
Forgot Password
{% endif %}
</h2>

{% if error %}
<p style="color:red;text-align:center;font-weight:bold;">{{ error }}</p>
{% endif %}

{% if success %}
<p style="color:green;text-align:center;font-weight:bold;">{{ success }}</p>
{% endif %}

<form method="POST">

<!-- 🔹 FORGOT PASSWORD (NOT LOGGED IN) -->
{% if not session.get("user_id") %}
<div class="password-field">
    <input type="text" name="identifier" placeholder="Email or Phone" required>
</div>
{% endif %}

<!-- 🔹 OLD PASSWORD (LOGGED IN ONLY) -->
{% if session.get("user_id") %}
<div class="password-field">
    <input type="password" id="old_password" name="old_password" placeholder="Old Password" required>
    <i class="fa-solid fa-lock toggle-icon" onclick="togglePassword('old_password',this)"></i>
</div>
{% endif %}

<!-- NEW PASSWORD -->
<div class="password-field">
    <input type="password" id="new_password" name="new_password"
           placeholder="New Password"
           required onkeyup="checkStrength()">
    <i class="fa-solid fa-lock toggle-icon" onclick="togglePassword('new_password',this)"></i>
    <small id="strength" class="feedback-text"></small>
</div>

<!-- CONFIRM PASSWORD -->
<div class="password-field">
    <input type="password" id="confirm_password" name="confirm_password"
           placeholder="Confirm Password"
           required onkeyup="checkMatch()">
   <i class="fa-solid fa-lock toggle-icon" onclick="togglePassword('confirm_password',this)"></i>
    <small id="match" class="feedback-text"></small>
</div>

<button class="btn btn-success" style="width:100%;">Update Password</button>

</form>

<br>

<a href="/dashboard">
<button class="btn btn-warning" style="width:100%;">Back to Dashboard</button>
</a>

</div>
</div>



</body>
</html>