
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>

<h2>Welcome {{ session['user_name'] }}</h2>
<p>Role: {{ session['role'] }}</p>

<hr>

{% if session['role'] == 'provider' %}

    <h3>Provider Panel</h3>

    <a href="/add-skill">➕ Add Skill</a>
    <br><br>

    <a href="/my-skills">📋 My Skills</a>
    <br><br>

    <a href="/my-bookings">📦 View Booking Requests</a>
    <br><br>

{% else %}

    <h3>User Panel</h3>

    <a href="/all-skills">🔎 Browse Services</a>
    <br><br>

    <a href="/my-bookings">📦 My Bookings</a>
    <br><br>

{% endif %}

<hr>

<a href="/logout">🚪 Logout</a>

</body>
</html>
