
<!DOCTYPE html>
<html>
<head>
  <title>Skill Exchange</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>

  <h1>Skill Exchange Platform</h1>

<div class="container">
    <a href="/register/user" class="btn">Signup as User</a>
    
    <a href="/register/provider" class="btn">Signup as Provider</a>

    <a href="/login" class="btn">Login</a>
</div>


</body>
</html>

