
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>

<h2>Login</h2>

<form method="POST">
    <input type="text" name="identifier" placeholder="Email or Phone" required><br><br>
    
    <div class="password-container">
        <input type="password" name="password" id="password" placeholder="Enter Password" required >
        <span onclick="togglePassword('password')">👁</span>
    </div>

    <button type="submit">Login</button>
</form>

<p>New user? <a href="/register">Register</a></p>

</body>
</html>

